table{
    border: 5px solid red;
    width: 500px;
    position: relative;
    margin: auto;
}
td,
tr,
th{
    text-align: center;
    border: 1px solid black;
}
th{
  
}
h1{
    text-align: center
}
footer{
    text-align: center;
    font-weight: bold;
}